

body, html {
	background: #f7f7f7;
	color: #495057;
    line-height: 1.42857143;
	margin: 0;
	padding:0;
}

body,input,button,select,textarea{
    font-family: Arial, "Microsoft YaHei","黑体","宋体", 'Microsoft JhengHei', sans-serif;
}
 

h1,h2,h3,h4,h5,h6{  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  }



.carousel-item {
  height: 100vh;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






.navbar-nav li {
	padding-right: 20px;
}

#navbar {
    font-size:1.2rem;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}



#twedu-section{
    background-color: #fdf9f6;
}
#leta-section{
    background-color: #fdf9f6;
}

.sizer {
    padding-top: 15px;
    padding-bottom:15px;
    width: 640px;
    margin: 0 auto;
}


.welcome {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}








#information-section{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
#information-section a {
    color: #d5d5d5;
}
#information-section img{
    width :250px;
    height: auto;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

#education4{
    background-color: #fdf9f6;
}

#education {
    margin-top: 50px;
}

#education h1{
    font-size: 2rem;
    color:#fff;
}
#education h2{
    font-size: 2rem;
}

#education p {
    font-size: 1.5rem;
}


#information-section {
    font-size: 1.2rem;
}

#tiny {
    display: none;
}

.timeline__content p {
    font-size: 14px !important;
}
.timeline__content h2 {
    font-size: 25px !important;
}




body{
    padding-top: 70px;
}

@media (max-width: 992px) {

    .sizer {
    
   width: 100%;
   height:auto;
    }
	.social a {
        font-size: 4em;
        padding: 2rem;
    }


}


@media (max-width: 768px){
    .sizer {
        width: 100%;
        height:auto;
    }
}

@media (max-width: 576px){

    #section-2 .container{
        padding:0px !important; 
    }
    #section-2 .col-12{
        padding:0px !important; 
    }
    #carouselExampleIndicators{
        display: none;
    }
    #tiny {
        display: block;
    }
    #tiny2{
        display: none;
    }


    .sizer {
        padding: 15px;
        width: 100%;
        height:auto;
    }
    .timeline__content p {
        font-size: 14px !important;
    }
    .timeline__content h2 {
        font-size: 18px !important;
    }





}
@media (max-width: 360px){
    
    #section-2 .container{
        padding:0px !important; 
    }
    #section-2 .col-12{
        padding:0px !important; 
    }

    .sizer {
        padding: 15px;
        width: 100%;
        height:auto;
    }
    


}

.carousel-indicators li{
    background-color: #000;
}



[class*="col-"] {
    padding: 1rem;
}


.level-title{
    padding-left:0;
    padding-bottom: 0;
    padding-right: 0;
}
.level-content{
    background-color: #fdf9f6;
    padding:0;
}

#member-section .col-12{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}


.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

@media (min-width: 1081px){
    .timeline {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .first-content {
        width: 15% !important;
    }
    .second-content {
        width: 20% !important;
    }
    .forth-content {
        width: 35% !important;
    }

}
.anchor{
  display: block;
  height: 76px; /*same height as header*/
  margin-top: -76px; /*same height as header*/
  visibility: hidden;
}

